# Should give us the path to the root of the project even if someone CDs deeper into the path
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

# We can install our components into bin/ using pipx
export PATH="${SCRIPT_DIR}/bin:$PATH"
