source_up
layout_poetry

export PIP_DISABLE_PIP_VERSION_CHECK=1
export PYTHONDONTWRITEBYTECODE=1

# Should give us the path to the root of the component even if someone CDs deeper into the path
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

# If we want executables outside of python, we put them in the `bin/` directory
export PATH="${SCRIPT_DIR}/bin:$PATH"
export APP_NAME="rats-pipelines"
