name: Build Wheels
on:
  workflow_call:
    inputs:
      sha:
        description: 'the git sha to checkout'
        required: true
        type: string
jobs:
  build-components:
    runs-on: "ubuntu-24.04"
    strategy:
      fail-fast: false
      matrix:
        component:
          - rats
          - rats-apps
          - rats-devtools
    name: "build-wheels: ${{ matrix.component }}"
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.sha }}
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/setup-environment
        id: runner-context
        with:
          install-uv: true
          install-devtools: true
      - name: build-wheel
        env:
          PACKAGE_VERSION: "${{ steps.runner-context.outputs.package-version }}"
        run: |
          cd ${{ matrix.component }}
          uv version "$PACKAGE_VERSION"
          rats-ci install
          uv build
      - name: "upload-artifacts"
        uses: actions/upload-artifact@v6
        with:
          name: "wheels.${{ matrix.component }}"
          path: "${{ matrix.component }}/dist/*.whl"
